@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg: #ededed;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  font-size: 16px;

  --primary: #2c3657;
  --secondary: #67325f;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: var(--bg);

  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo {
  width: 50px;
  height: 50px;
  overflow: hidden;
}
nav > a {
  color: black;
  font-weight: 600;
  padding: 0.8rem 1.5rem;
  margin: 0 0.5rem;

  transition: all 300ms ease-out;
}

nav > a:hover {
  background: linear-gradient(145deg, #fefefe, #d1d1d1);
  box-shadow: 6px 6px 12px #c9c9c9, -6px -6px 12px #ffffff;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: inherit;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: gray;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  /* border: 2px solid #555555; */
}

@media only screen and (max-width: 768px) {
  nav {
    display: none;
    z-index: 5;
    position: fixed;
    top: 92px;
    right: 0;
    bottom: 0;
    left: 100%;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--bg);
    padding: 1rem;
    overflow: hidden;
    box-shadow: inset 8px 8px 18px #cccccc, inset -8px -8px 18px #ffffff;
    /* box-shadow: 8px 8px 18px #cccccc, -8px -8px 18px #ffffff; */
    text-align: center;
  }

  #menu::before {
    content: "\2630";
    font-size: 2.5rem;
    color: var(--primary);
  }

  #m:checked ~ nav {
    display: flex;
    animation: slide 300ms ease-out forwards;
  }

  #m:checked + #menu::before {
    content: "\2715";
    color: red;
  }

  @keyframes slide {
    to {
      left: 10%;
    }
  }
}
